.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }
}