.blog-container {
    display: grid;
    grid-template-columns: 30fr 1fr;
    padding: 10px;
}

.cover-image {
    width: 100%;
    padding: 10px;
}

.author-image {
    border-radius: 50%;
    width: 30%;
}

.blog-info {
    display: flex;
    gap: 30px;
}

.blog-detail {
    display: flex;
    justify-content: space-between;
}

.blog-container h1 {
    padding: 5px;
    font-size: x-large;
    font-weight: 500;
}

.blog-container p span {
    text-decoration: underline;
    color: blue;
}